
# data files
*.csv
*.xlsx
/data/*
/final/data/*
*.Rhistory
*.DOCUMENTATION
*.data
*.names
*.Rdata

# imgs for reports
/imgs/*
*.png


# tableau files
*.twb
*.twbr

# reports
/reports/*
*.docx
*.zip

